[Unit]
Description=Power cycles a modem when it stops passing traffic.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash /usr/local/sbin/monitor-modem.sh

[Install]
WantedBy=multi-user.target
